[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
crontab = "*"
pytz = "*"
errcron = {editable = true, path = "."}

[dev-packages]
"pytest-pep8" = "*"
pytest-flakes = "*"
pytest-cov = "*"
pytest = "*"
freezegun = "*"
codeclimate-test-reporter = "*"
coverage = "*"
errbot = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
